Repository SinguloStation13/SinguloStation13, pull requests merged in 2021-05, with the labels that each got.

#46 Fixes directional firelock jumping when animating
  singulostation/icons/obj/doors/edge_Doorfire.dmi
Labels: Sprites

#51 Increase cable coil stack size 10x and allow recoloring
  code/modules/power/cable.dm
Labels: Stale

#50 [PORT] TGUI Autolathe from BeeStation
  code/datums/wires/autolathe.dm
  code/game/machinery/autolathe.dm
  tgui/packages/tgui/interfaces/ModularFabricator.js
  tgui/packages/tgui/styles/interfaces/ModularFabricator.scss
  tgui/packages/tgui/styles/main.scss
Labels: Stale, tgui

#54 Disable stale PR auto-close
  .github/workflows/stale.yml
Labels: Github, Stale
