Repository SinguloStation13/SinguloStation13, pull requests merged in 2021-02, with the labels that each got.

#10 Fixes CL Generator
  .github/workflows/make_changelogs.yml
Labels: Github

#14 Revert WaspStation Canister Sprites
  code/modules/atmospherics/machinery/portable/canister.dm
  tgstation.dme
  waspstation/code/modules/atmospherics/machinery/portable/canister.dm
Labels: DME Edit

#12 Urumasi's Improved dust animation
  code/modules/mob/living/carbon/alien/death.dm
  code/modules/mob/living/carbon/alien/larva/death.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/monkey/death.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/silicon/robot/death.dm
  singulostation/code/game/objects/effects/displacement.dm
  singulostation/code/modules/mob/living/death.dm
  singulostation/icons/effects/displacements.dmi
  tgstation.dme
Labels: DME Edit, Sprites

#13 Sends Mining Bases To The Shadowrealm
  _maps/map_files/Mining/Icemoon.dmm
  _maps/map_files/Mining/IcemoonUnderground.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Mining/Whitesands.dmm
  code/game/area/areas/mining.dm
  code/game/turfs/closed/minerals.dm
  singulostation/icons/turf/areas.dmi
  singulostation/icons/turf/mining.dmi
  waspstation/code/game/turf/closed/wall/whitesands.dm
Labels: Map Change, Sprites

#16 Firelocks: the unfuckening
  code/game/machinery/doors/firedoor.dm
  singulostation/icons/obj/doors/doorfirewindow.dmi
  singulostation/icons/obj/doors/edge_Doorfire.dmi
Labels: Sprites

#5 Constructionstation and cargo shuttle
  _maps/_basemap.dm
  _maps/boxstation.json
  _maps/constructionstation.json
  _maps/deltastation.json
  _maps/galaxystation.json
  _maps/kilostation.json
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/BoxStation/job_changes.dm
  _maps/map_files/ConstructionStation/ConstructionStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/GalaxyStation/Galaxystation.dmm
  _maps/map_files/GalaxyStation/Galaxystation_LVL2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MidwayStation/MidwayStation.dmm
  _maps/map_files/PackedStation/PackedStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/PubbyStation/job_changes.dm
  _maps/metastation.json
  _maps/midwaystation.json
  _maps/packedstation.json
  _maps/pubbystation.json
  _maps/shuttles/cargo_con.dmm
  code/modules/jobs/map_changes/map_changes.dm
  config/config.txt
  config/game_options.txt
  config/jobs.txt
  config/maps.txt
  singulostation/code/datums/map_config.dm
  singulostation/code/datums/shuttles.dm
  tgstation.dme
Labels: Config, DME Edit, Map Change

#22 Cryogenic freezers change
  _maps/map_files/ConstructionStation/ConstructionStation.dmm
  _maps/map_files/CryoStation/CryoStation.dmm
  code/controllers/subsystem/explosions.dm
  code/game/objects/obj_defense.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/research/techweb/all_nodes.dm
  singulostation/code/_DEFINES/status_effects.dm
  singulostation/code/datums/status_effects/misc_effects.dm
  singulostation/code/game/machinery/cryopod.dm
  singulostation/code/game/objects/obj_defense.dm
  singulostation/icons/mob/screen_alert.dmi
  singulostation/icons/obj/cryogenic2.dmi
  singulostation/modules/research/designs/comp_board_designs.dm
  singulostation/modules/research/designs/machine_designs.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CryogenicStorage.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
  waspstation/code/game/machinery/cryopod.dm
Labels: DME Edit, Map Change, Sprites, tgui
