Repository SinguloStation13/SinguloStation13, pull requests merged in 2021-04, with the labels that each got.

#36 Add advanced multitool
  code/modules/research/techweb/all_nodes.dm
  singulostation/code/game/objects/items/devices/multitool_advanced.dm
  singulostation/code/modules/cargo/exports/tools.dm
  singulostation/code/modules/research/designs/tool_designs.dm
  singulostation/icons/obj/tools.dmi
  tgstation.dme
Labels: DME Edit, Sprites

#38 Make departmental protolathes and techfabs printable
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  singulostation/code/modules/research/designs/machine_designs.dm
  tgstation.dme
Labels: DME Edit

#34 Port runtime fixes from upstream
  _maps/RandomRuins/SandRuins/whitesands_surface_medipen_plant.dmm
  code/__HELPERS/_lists.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/mapping/ruins.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/projectile.dm
  whitesands/code/datums/ruins/whitesands.dm
Labels: Map Change

#42 Add airlock electronics access copying
  singulostation/code/game/machinery/doors/airlock_electronics.dm
  tgstation.dme
Labels: DME Edit

#31 [Ready] Disable autotransfer subsystem
  whitesands/code/controllers/subsystem/autotransfer.dm
Labels: Stale

#30 [Ready] Fix some typos
  config/game_options.txt
  whitesands/code/modules/mining/deepcore/drill.dm
  whitesands/code/modules/mining/deepcore/hopper.dm
Labels: Config, Stale

#37 [Port] BeeStation stock parts sprites
  code/modules/power/cell.dm
  code/modules/research/stock_parts.dm
  singulostation/icons/obj/power.dmi
  singulostation/icons/obj/stock_parts.dmi
Labels: Sprites, Stale

#49 Port "adding a hack wire to the quantum pad" from beestation
  code/game/machinery/quantum_pad.dm
  singulostation/code/datums/wires/quantum_pad.dm
  tgstation.dme
Labels: DME Edit
