Repository SinguloStation13/SinguloStation13, pull requests merged in 2021-03, with the labels that each got.

#26 Singulostation title card by Kube Root
  icons/runtime/default_title.dmi
Labels: Sprites

#19 Plastic flap and holofirelock nerfs
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/plasticflaps.dm
  singulostation/code/game/objects/structures/holosign.dm
  tgstation.dme
Labels: DME Edit

#18 [Port] Adamantine crossbreeds
  singulostation/code/_HELPERS/unsorted.dm
  singulostation/code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  singulostation/code/modules/research/xenobiology/crossbreeding/_misc.dm
  singulostation/code/modules/research/xenobiology/crossbreeding/_structures.dm
  singulostation/code/modules/research/xenobiology/crossbreeding/crystalized.dm
  singulostation/icons/obj/slimecrossing.dmi
  tgstation.dme
Labels: DME Edit, Sprites

#21 Config update
  config/config.txt
  config/game_options.txt
Labels: Config

#32 [Ready] Fix various startup runtimes
  _maps/RandomRuins/SandRuins/whitesands_surface_medipen_plant.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/projectile.dm
  whitesands/code/datums/ruins/whitesands.dm
Labels: Map Change

#35 Fix CI job - Run Linters
  tools/bootstrap/python
Labels: Github
